/* Page Programação */
.programacao .hgroup{
	padding:30px 0;
}
.programacao .hgroup .title{
	margin-top:65px;
	font-family: 'Space Mono';
}
.card-body .title-tema{
	color:#1abc9c;
	font-size:18px;
	font-weight:700;
}

.theme{
	color:#1abc9c;
	font-weight:600;
	text-transform: uppercase;
}
.card-evento {
	text-align: center;
	border: 2px solid #eee;
	min-height: 240px;
	margin-bottom: 30px;
}

/* Evento data */
.card-evento .date {
	margin-bottom: 5px;
	font-size: 40px;
	color: #1abc9c;
}
.card-evento .date .day {}
.card-evento .date .month {}
.card-evento .date .year {}
.card-evento .time {color: #bbb; margin-top: 0;}
.card-evento .line {}
.card-evento .card-body .text-skin1 {
	font-weight: 600;
	border: 0;
}
.card-evento .card-body p {
	display: block;
}

#projetos.hgroup .title{
	margin-top:50px;
}


