/*CSS Document*/

/*Importando estilos*/
@import url('default.css');
@import url('programacao.css');
@import url('galeria.css');
@import url('projetos.css');
@import url('contato.css');


/*Importando fontes*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800|Roboto:100,300,400,500,700,900');
/*font-family: 'Space Mono';
font-family: 'Raleway', sans-serif;*/


/*CSS Document*/
	body{
		margin:0;
		font-family: 'Raleway', sans-serif;
	}

	a, a:hover, a.active, a:focus{ text-decoration: none; color:#333;}

	ul li{ list-style-type: none;}
	
	.col{ padding-right:0; padding-left:0; }

	/*hover*/
	.intro-header .hgroup .btn:hover{
		color:#333;
	}
	.hvr-sweep-to-right:before{
		background:#fff;
		color:#333;
	}

	.card-programacao .card-content .btn:hover{
		color:#333;
	}
	.hvr-bounce-to-top:before{
		background:#1abc9c;
	}

/* HOME */

/*logo*/
.logo{
	margin-top:5px;
	width:120px;
}

.navbar-brand{
	height:auto;
	max-width:150px;
	padding:0;
}

/*menu*/
.header .navbar{
	background:transparent;
	border:none;
	font-family: 'Space Mono';
	position:absolute;
}

.header .navbar .navbar-nav>.menu-item>a {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 30px 20px;
	display: block;
}
.header .navbar .navbar-nav>.menu-item>a:hover {
	color: #fff;
}
.header .navbar .navbar-nav>.menu-item>a:after {
    background: #1abc9c;
    content: '';
    display: block;
    height: 3px;
    margin-top: 8px;
    -webkit-transition: width .4s ease;
    transition: width .4s ease;
    width: 14px;
}
.header .navbar .navbar-nav>.menu-item>a:hover:after {
    width: 45px;
}

/*menu - projetos*/
.header .navbar .navbar-nav>li>.link-project, .header .navbar .navbar-nav>li>.link-project:hover, .header .navbar .navbar-nav>li>.link-project:after , .header .navbar .navbar-nav>li>.link-project:hover:after{
	background:transparent;
	border:1px solid #fff;
	border-radius:50px;
	padding:10px 15px;
	margin-top:20px;
	color:#fff;
	text-transform:uppercase;
}

.header .affix{
	background-color:#000;
	position:fixed;
	transition:0.2s;
}


/* intro header - banner */
.intro-header{
	background:#000 url('../images/Programming-Skills.jpg');
	background-size: cover;
	background-attachment: fixed;
	height:700px;
	padding-top:210px;
}
.intro-header .hgroup{
	color:#fff;
	font-family: 'Jura';
	text-transform: uppercase;
}
.intro-header .hgroup .title{
	font-weight:300;
	font-size:65px;
}
.intro-header .hgroup .subtitle{
	font-weight:400;
	font-size:35px;
}
.intro-header .hgroup .subtitle span{

	color:#1abc9c;
	vertical-align: middle;
	font-weight: 600;
}

.intro-header .hgroup .btn{
	border-radius:0;
	border:1px solid #fff;
	padding:10px 25px;
	background:transparent;
	color:#fff;
	font-size:18px;
	margin:10px;
	font-family: 'Space Mono';
}

.intro-header .mouse{
	width:50px;
	margin-top: 100px;
	display: inline-block;
}

/*Section palestrante */
.section-palestrantes {
	background:url('../images/banner-palestrantes.png') top center no-repeat;
	background-size:auto;
	padding:80px 0;
}
.section-palestrantes .s-title,
.section-patrocinios .s-title {
	font-size: 50px;
	margin-bottom: 0px;
	font-family: 'Jura';
	text-transform: uppercase;
}
.section-palestrantes .line{
	border:2px solid #1abc9c;
	width:100px;
	margin-bottom: 40px;
}

.palestrantes-group {
	padding: 0;
	margin: 0;
}
.section-palestrantes .thumbnail{
	border:1px solid #1abc9c;
}
.palestrantes-group li {
	font-family: 'Space Mono';
	text-align: center;
	padding-top: 100px;
}
.palestrantes-group.owl-carousel li img {
	border: 5px solid #1abc9c;
	margin-top: -85px;
	max-width: 150px;
}
.palestrantes-group.owl-carousel li .item-title {
	font-size: 20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background:#1abc9c;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    border:2px solid #1abc9c;
    background:transparent;
}


/* section programação */

.section-programacao{
	background:#000;
}
.section-programacao .s-title{
	font-family: 'Jura';
	text-transform: uppercase;
	font-size:40px;
	margin:0;
	color:#fff;
	padding-top:100px;
}
.section-programacao .line{
	border:2px solid #1abc9c;
	width:100px;
}
.card-programacao{
	padding: 0;
	height: 320px;
	position: relative;
	background-color: #000;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.card-programacao .card-image {
	background-size: cover;
    display: table;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.card-programacao .card-content {
	    background: rgba(0,0,0,.1);
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity .4s ease,visibility .4s ease;
    transition: opacity .4s ease,visibility .4s ease;
    visibility: hidden;
    width: 100%;
    z-index: 2;

}

.card-programacao .card-content-wrapper {
	display: table-cell;
    padding: 0 25px;
    vertical-align: middle;
    width: 100%;
}

/* .card-programacao:hover */
.card-programacao .card-image {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.card-programacao .card-content {
    opacity: 1;
    visibility: visible;
}
.card-programacao .card-content .card-title {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.card-programacao .card-content .btn {
	color: #1abc9c;
	border: 2px solid #1abc9c;
	padding: 10px 30px;
	background-color: transparent;
	text-transform: uppercase;
}
/* section patrocinios*/
.section-patrocinios {
	padding: 60px 0;
	background: #fff;
	background-size: cover;
}
.section-patrocinios .s-title {color: #000; margin:0; font-size:30px;}
.section-patrocinios .line {
    border: 2px solid #1abc9c;
    width: 100px;
}
.box-patrocinio p{ color:#000; font-size:18px; }
.section-patrocinios .thumbnail {
	height: 100px;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 1s;
}
.section-patrocinios .thumbnail:hover {
    transition: 1s;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.section-patrocinios .thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

/* section sobre */
.section-sobre{
	padding: 120px 0;
	background:#000;
} 
.section-sobre .box-sobre, .box-patrocinio{
	margin-top:-20px;
	border:3px solid #1abc9c;
	padding:30px 40px;
	color:#fff;
}

.section-sobre .box-sobre .s-title, .section-sobre .box-sobre h3{
	font-weight:300;
	color:#fff;
}
.section-sobre .box-sobre .s-title span, .section-sobre .box-sobre h3 span{
	font-weight:500;
	color:#1abc9c;
}

/*rodapé*/
footer.footer {
	padding: 20px 0;
	border-top: 5px solid #1ABC9C;
}
footer.footer .ico-social{
	font-size:30px;
	color:#1ABC9C;
	border:1px solid #1ABC9C;
	padding:8px 12px;
	border-radius:50%;
	width: 50px;
}
footer.footer .text-block .btn-link {color: #222; font-weight: 600;}
footer.footer .text-block .btn i {vertical-align: middle; color: #3dc78b;}
footer.footer .btn-orcamento {
    background: #3dc78b;
    border: 0 none;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 218px;
    font-size: 13px;
    padding: 18px 30px;
}


/* PADRÃO - PÁGINAS CONTEÚDO*/
.page-header {
	margin-top: 0;
	padding-top: 120px;
	padding-bottom: 40px;
	text-align: center;
	background: #000 url(../images/Programming-Skills.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
}
.page-header .title {
	text-transform: uppercase;
	color: #fff;
}
.page-header .line {
    border: 2px solid #1abc9c;
    width: 100px;
}
